@import "../styles/HigiaBase.module.scss";


.textColor1{
    color: $bg-higia-colortext;
  }
  
  #textColor2{
    color: $bg-higia-colortext2;
  }
  
  
  .textColor3{
    color: $bg-higia-colortext3;
  }