$bg-higia-colortext: #0B573B;
      $bg-higia-buttons: #01402E;
      $bg-higia-buttons2: #02733E;
      $bg-higia-light:#38F29B;
      $bg-higia-border:#4BDDA8;
      $bg-higia-colortext2: #34735C;
      $bg-higia-colortext3: #09D68B;